{% extends "layout.html" %}

{% block content %}

<!--==========================
  Hero Section
============================-->
<section id="hero" class="clearfix">
    <div class="container">

        <section id="innerBanner">
            <div class="inner-content">
                <h2><span>About Us</span><br>Creating Opportunities!</h2>
                <div>
                </div>
            </div>
        </section><!-- #Page Banner -->

    </div>
</section><!-- #Hero -->
<!--==========================
  About Section
============================-->
<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="static/img/7.svg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>Welcome to Honeycomb Technology.</h2>
                <h3>Honeycomb Technology is an IT recruitment and consultancy company that is designed to connect talented IT professionals with companies that are looking to build or maintain their IT solutions.</h3>
                <p>Honeycomb Technology is committed to helping businesses find right the IT solutions to fulfil their goals and ambitions. We work with countless IT professional ranging from:</p>
                <ul>
                    <li><i class="icon ion-ios-checkmark-outline"></i> IT Technical Managers.</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> IT Project Managers.</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Software Developers (Java/Python/C/C#/C++/Matlab).</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Front End Developers</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Business Intelligence (BI) Developers</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Scrum Master</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> Software and User Acceptance Testers</li>
                    <li><i class="icon ion-ios-checkmark-outline"></i> DevOps Engineers </li>


                </ul>
            </div>
        </div>

    </div>
</section><!-- #about -->
<!--==========================
  Clients Section
============================
<section id="clients" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Clients</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
    </div>

    <div class="owl-carousel clients-carousel">
      <img src="img/clients/client-1.png" alt="">
      <img src="img/clients/client-2.png" alt="">
      <img src="img/clients/client-3.png" alt="">
      <img src="img/clients/client-4.png" alt="">
      <img src="img/clients/client-5.png" alt="">
      <img src="img/clients/client-6.png" alt="">
    </div>

  </div>
</section><!-- #clients -->
<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Get Our Service</h3>
                <p class="cta-text">Whether you are employer or looking for your next role in IT, Honeycomb Technology is here to help. Feel free to get in touch with us and we will do whatever we can to assist you. </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="contact">Contact Us</a>
            </div>
        </div>

    </div>
</section><!-- #call-to-action -->
    </main>
    {% endblock %}
