{% extends "layout.html" %}
{% set active_page = "about" %}

{% block content %}

<!--==========================
  Hero Section
============================-->
<section id="hero" class="clearfix">
    <div class="container">

        <section id="innerBanner">
            <div class="inner-content">
                <h2><span>Why Choose Me</span></h2>
                <div>
                </div>
            </div>
        </section><!-- #Page Banner -->

    </div>
</section><!-- #Hero -->
<!--==========================
  About Section
============================-->
<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 content" style="text-align:center">

                <h3>There are many reasons why I am the right Software Developer Agency for your company.</h3>



                <div class="row">

                    <div class="col-sm-6 d-flex align-items-stretch">
                        <div class="card wow fadeInLeft">
                            <div class="card-body">
                                <h4 class="title">01. I know what I am doing</h4>
                                <p>I have worked with some of the largest Business to Business (B2B) and Business to Consumers (B2C) brands in the world as Software Developer, Product Owner, and a Business Analyst. My experiences have given me an excellent insight to what it turn an idea into a full working IT Solution</p>

                                <p>Simply tell me what you need and what you envision I will provide you a detailed road-map to realizing your vision including access to some of the best Developers in the market. </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 d-flex align-items-stretch">
                        <div class="card wow fadeInLeft">
                            <div class="card-body">
                                <h4 class="title">02. My prices are fair</h4>
                                <p>I keep my costs down, to keep your costs down! I have strategically placed myself away from the city centre and I have also automated a lot of the traditional manual work. This means I can pass more of the cost savings to you. </p>
                                <p>I have a strict policy of not issuing surprise invoices and I will ensure this won't happen by putting in process that requires me to ask you for approval whenever there is an unexpected or additional expense.</p>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card wow fadeInLeft">
                            <div class="card-body">
                                <h4 class="title">03. I am revenue and cost driven.</h4>
                                <p>I understand that you are in the business of making more money. It is particularly important that I provide solutions that will generate higher revenue and reduce your costs without compromising integrity of system. </p>
                                <p>One of the major ways we do this is by helping you collect and analyse the data so that you can understand:</p>

                                <ol style="list-style:none">
                                    <li>a. What your customers are doing </li>
                                    <li>b. Know what your customers want to do </li>
                                    <li>c. Quickly identify and triage bugs on your system </li>
                                    <li>d. Identify issues before they go into production</li>
                                    <li>e. Identify vulnerabilities in your system i.e. cyber-security attacks.</li>
                                    <li>f. Identify opportunities to generate more revenue and low costs.</li>
                                    <li>g. Automate all of the above and present it to you in the form of daily, weekly, quarterly, or annual report.</li>

                                </ol>

                            </div>
                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="col-sm-6 d-flex align-items-stretch">
                        <div class="card wow fadeInLeft">
                            <div class="card-body">
                                <h4 class="title"> 04. I have a team of experts</h4>
                                <p>Although my expertise is in Software Development and Product Management/Ownership, I work with some of the best Software Testers, Project Managers, Dev Ops Engineer, Scrum Masters, and Business/ Data Analyst who have experience in various industries. </p>
                                <p>Whether you work in Airline and hospitality, insurance, banking, IT, Legal, or Finance Technology (FinTech), I am here to help. </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 d-flex align-items-stretch">
                        <div class="card wow fadeInLeft">
                            <div class="card-body">
                                <h4 class="title">05. I keep an eye on latest laws, regulations and best practices</h4>
                                <p>Keeping an eye on the latest laws, regulations, and best practices are vital in keeping our businesses complaint and remain profitable. A report by DLA Piper has shown that all UK businesses have been fined a total of 44 million Euros in 2020. That is a lot.  </p>
                                <p>I have the expertise and the resources to ensure your company remains complaint will all laws, regulations, and best practices.</p>

                            </div>
                        </div>
                    </div>


                </div>



            </div>

        </div>
</section><!-- #about -->
<!--==========================
  Clients Section
============================
<section id="clients" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Clients</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
    </div>

    <div class="owl-carousel clients-carousel">
      <img src="img/clients/client-1.png" alt="">
      <img src="img/clients/client-2.png" alt="">
      <img src="img/clients/client-3.png" alt="">
      <img src="img/clients/client-4.png" alt="">
      <img src="img/clients/client-5.png" alt="">
      <img src="img/clients/client-6.png" alt="">
    </div>

  </div>
</section><!-- #clients -->
<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Get Our Service</h3>
                <p class="cta-text">Whether you are employer or looking for your next role in IT, Honeycomb Technology is here to help. Feel free to get in touch with us and we will do whatever we can to assist you. </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="contact">Contact Us</a>
            </div>
        </div>

    </div>
</section><!-- #call-to-action -->
    </main>
    {% endblock %}
