{% extends "layout.html" %}
{% set active_page = "home" %}

{% block content %}


<!--==========================
  Hero Section
============================-->
<section id="hero" class="clearfix">
    <div class="container">

        <div class="hero-banner">
            <img src="static/img/4.svg" alt="" class="img-fluid main-image">
        </div>

        <div class="hero-content">
            <h2><span>A Software Developer</span> <br> with his own Software Development Agency.</h2>
            <div>
                <a href="contact" class="btn-banner">Contact me today</a>
            </div>
        </div>

    </div>
</section><!-- #Hero -->

<main id="main">


    <!--==========================
      About Section
    ============================-->
    <section id="services" class="wow fadeInUp" style="margin-bottom:40px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-header"><h2>Welcome to Honeycomb Technology</h2></div>
                        <p class="cta-text">I have created the Software Development Agency, Honeycomb Technology, in order to help organisations build the best possible IT solution for their business. Whether you want to me to build the IT solution for you or you want me to help you find an excellent Software Developer to join your team, I am here to help.  </p>
                        <p class="cta-text">Whether you are startup or Fortune 500 company, I am here to help you achieve your goals and ambitions. Simply gives us a call and I will get in touch with you as soon as possible. </p>
                    </div>
            </div>

        </div>
    </section><!-- #call-to-action -->
    <!-- #about -->
    <!--==========================
      Technology we have experiences with Section
    ============================-->


    <section style="background: url(../static/img/intro-carousel/banner-yellow.png) center bottom no-repeat; background-size:cover; padding: 30 30 30 30">
        <div class="container">
            <div class="section-header" >
                <h2>What I work with</h2>
            </div>

            <div class="items" style="padding-bottom:30px">
                <div> <i class="fab fa-html5 fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp;HTML5</div>
                <div><i class="fab fa-css3-alt fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp; CSS/3 </div>
                <div><i class="fab fa-js fa-7x"></i><br />&nbsp;&nbsp;&nbsp; Javascript</div>
                <div><i class="fab fa-vuejs fa-7x"></i><br />&nbsp;&nbsp;&nbsp; VueJS</div>
                <div><i class="fab fa-react fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp; React</div>
                <div><i class="fab fa-angular fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp; AnguarJS</div>
                <div><i class="fab fa-php fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp; PHP</div>
                <div><i class="fab fa-python fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp; Python</div>
                <div><i class="far fa-copyright fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp; C / C++ / C# </div>
                <div><i class="fab fa-java fa-7x"></i><br />&nbsp;&nbsp;&nbsp;&nbsp;  Java</div>
                <div><i class="fas fa-database fa-7x"></i><br />&nbsp;&nbsp; Databases</div>
                <div><i class="fab fa-github fa-7x"></i> <br /> &nbsp;&nbsp;&nbsp;&nbsp;Github </div>
                <div><i class="fab fa-docker fa-7x"></i><br /> &nbsp;&nbsp;&nbsp;&nbsp;Docker </div>
                <div><i class="fab fa-aws fa-7x"></i><br /> AWS + Cloud computing </div>




            </div>
        </div>
    </section>


    <!-- #Technology we have experiences -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>My Services</h2>
            </div>

            <div class="row">

                <div class="col-sm-4 d-flex align-items-stretch">
                    <div class="box wow fadeInLeft">
                        <div class="icon svgImg"><img src="static/img/7.svg" alt=""></div>
                        <h4 class="title"><a href="">Find Software Developers</a></h4>
                        <p class="description">Whether you are looking for Software Developer to fill a Contracting or Full-Time role, I will help you find the perfect candidate.</p>
                    </div>
                </div>

                <div class="col-sm-4 d-flex align-items-stretch">
                    <div class="box wow fadeInRight">
                        <div class="icon svgImg"><img src="static/img/1.svg" alt=""></div>
                        <h4 class="title"><a href="">Build your IT solution for you</a></h4>
                        <p class="description">Whether you need a new functionality, Website, app, or software application, I can help you build it. </p>
                    </div>
                </div>

                <div class="col-sm-4 d-flex align-items-stretch">
                    <div class="box wow fadeInRight">
                        <div class="icon svgImg"><img src="static/img/2.svg" alt=""></div>
                        <h4 class="title"><a href="">Maintain your IT solution for you</a></h4>
                        <p class="description">If you already have an IT solution but you need it to be maintained, I am here to help. </p>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- #services -->
    <!--==========================
      Clients Section
    ============================
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="static/img/clients/client-1.png" alt="">
          <img src="static/img/clients/client-2.png" alt="">
          <img src="static/img/clients/client-3.png" alt="">
          <img src="static/img/clients/client-4.png" alt="">
          <img src="static/img/clients/client-5.png" alt="">
          <img src="static/img/clients/client-6.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->
    <!--==========================
      Testimonials Section
    ============================
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Mrio James</h3>
              <h4>CEO &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Finton Gofnes</h3>
              <h4>CTO</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Marcus Kell</h3>
              <h4>Marketing</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Williams Belly</h3>
              <h4>Accounts</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Larry Hanson</h3>
              <h4>Investor</h4>
            </div>

        </div>

      </div>
    </section><!-- #testimonials -->
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Get Our Service</h3>
                    <p class="cta-text">Whether you are employer or looking for your next role in IT, Honeycomb Technology is here to help. Feel free to get in touch with us and we will do whatever we can to assist you. </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="contact">Contact Us</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->


</main>


{% endblock %}
