{% extends "layout.html" %}

{% block content %}


<!--==========================
  Hero Section
============================-->
<section id="hero" class="clearfix">
    <div class="container">

        <div class="hero-banner">
            <img src="static/img/4.svg" alt="" class="img-fluid">
        </div>

        <div class="hero-content">
            <h2>We are more than just an IT recruitement and <br> consultancy company.  We are commited <br>to being the fastest way to unlocking <br>your full potential.</h2>
            <div>
                <a href="contact" class="btn-banner">Contact us today</a>
            </div>
        </div>

    </div>
</section><!-- #Hero -->

<main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Welcome</h2>
                <p>Honeycomb Technology is an IT recruitment and consultancy company to connect talented IT professionals with companies that are looking to build or maintain their IT solutions.  </p>
            </div>
            <div class="row">
                <div class="col-lg-6 about-img">
                    <img src="static/img/8.svg" alt="">
                </div>

                <div class="col-lg-6 content">
                    <h2>How we will help you</h2>


                    <p>Honeycomb Technology is committed to helping businesses find right IT solutions to fulfil their goals and ambitions. We work with countless IT professional ranging from: </p>
                    <ul>
                        <li><i class="icon ion-ios-checkmark-outline"></i> IT Technical Managers.</li>
                        <li><i class="icon ion-ios-checkmark-outline"></i> IT Project Managers.</li>
                        <li><i class="icon ion-ios-checkmark-outline"></i> Software Developers (Java/Python/C/C#/C++/Matlab).</li>
                        <li><i class="icon ion-ios-checkmark-outline"></i> Front End Developers</li>
                        <li><i class="icon ion-ios-checkmark-outline"></i> Business Intelligence (BI) Developers</li>
                        <li><i class="icon ion-ios-checkmark-outline"></i> Scrum Master</li>
                        <li><i class="icon ion-ios-checkmark-outline"></i> Software and User Acceptance Testers</li>
                        <li><i class="icon ion-ios-checkmark-outline"></i> DevOps Engineers </li>


                    </ul>
                </div>
            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Our Services</h2>
                <p>Honeycomb Technology is the best placed recruitment and consultancy company to provide you resources you need to acheive your goals and visions.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon svgImg"><img src="static/img/7.svg" alt=""></div>
                        <h4 class="title"><a href="">Recruitment</a></h4>
                        <p class="description">Finding the right IT professional to fill part-time/full-time/ and temporary positions can be a very time consuming and expensive process. Honeycomb Technology is here to help you bridge that gap.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <div class="icon svgImg"><img src="static/img/3.svg" alt=""></div>
                        <h4 class="title"><a href="">Consulting</a></h4>
                        <p class="description">Honeycomb Technology are fully equipped with provide you independent, specalist advice in implementation and enhancement of IT solutions for organisations operating across many industries. </p>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- #services -->
    <!--==========================
      Clients Section
    ============================
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="static/img/clients/client-1.png" alt="">
          <img src="static/img/clients/client-2.png" alt="">
          <img src="static/img/clients/client-3.png" alt="">
          <img src="static/img/clients/client-4.png" alt="">
          <img src="static/img/clients/client-5.png" alt="">
          <img src="static/img/clients/client-6.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->
    <!--==========================
      Testimonials Section
    ============================
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Mrio James</h3>
              <h4>CEO &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Finton Gofnes</h3>
              <h4>CTO</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Marcus Kell</h3>
              <h4>Marketing</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Williams Belly</h3>
              <h4>Accounts</h4>
            </div>

            <div class="testimonial-item">
              <p>
                Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore

              </p>
              <h3>Larry Hanson</h3>
              <h4>Investor</h4>
            </div>

        </div>

      </div>
    </section><!-- #testimonials -->
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Get Our Service</h3>
                    <p class="cta-text">Whether you are employer or looking for your next role in IT, Honeycomb Technology is here to help. Feel free to get in touch with us and we will do whatever we can to assist you. </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="contact">Contact Us</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->


</main>


{% endblock %}
